<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="~/Content/BackStage/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="~/Scripts/BackStage/jquery.js"></script>
    <script type="text/javascript">
        $(function(){
	        //导航切换
	        $(".menuson li").click(function(){
		        $(".menuson li.active").removeClass("active")
		        $(this).addClass("active");
	        });
	        $('.title').click(function(){
		        var $ul = $(this).next('ul');
		        $('dd').find('ul').slideUp();
		        if($ul.is(':visible')){
			        $(this).next('ul').slideUp();
		        }else{
			        $(this).next('ul').slideDown();
		        }
	        });
        })
    </script>
</head>
<body style="background:#f0f9fd;">
    <!--网站后台左侧单行栏-->
    <div class="lefttop"><span></span>后台管理</div>

    <dl class="leftmenu">
        <!--信息管理导航栏-->
        <dd>
            <div class="title">
                <span><img src="~/img/images/leftico01.png" /></span>管理信息
            </div>
            <ul class="menuson">
                <li><cite></cite><a href="#" target="rightFrame">首页工作台</a><i></i></li>
                <li><cite></cite><a href="#">账户信息</a><i></i></li>
                <li><cite></cite><a href="#">我的数据</a><i></i></li>
                <li><cite></cite><a href="#">账户设置</a><i></i></li>
            </ul>
        </dd>

        <!--案件资源列表-->
        <dd>
            <div class="title">
                <span><img src="~/img/images/leftico02.png" /></span>案件资源
            </div>
            <ul class="menuson">
                <li><cite></cite><a href="#" target="rightFrame">所有案件</a><i></i></li>
            </ul>
        </dd>
        <!--用户资源列表-->
        <dd>
            <div class="title"><span><img src="~/img/images/leftico03.png" /></span>用户资源</div>
            <ul class="menuson">
                <li><cite></cite><a href="/yang" target="rightFrame">所有用户</a><i></i></li>
                <li><cite></cite><a href="#">角色信息</a><i></i></li>
            </ul>
        </dd>

        <!--文章管理列表-->
        @*<dd>
            <div class="title"><span><img src="~/img/images/leftico04.png" /></span>文章管理</div>
            <ul class="menuson">
                <li><cite></cite><a href="/Manager" target="rightFrame">文章编辑</a><i></i></li>
                <li><cite></cite><a href="#">历史通知</a><i></i></li>
                <li><cite></cite><a href="#">信息信息</a><i></i></li>
                <li><cite></cite><a href="#">其他</a><i></i></li>
            </ul>

        </dd>*@

    </dl>
</body>
</html>
