<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="~/Content/BackStage/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="~/Scripts/BackStage/jquery.js"></script>
    <script type="text/javascript">
        $(function(){
	        //顶部导航切换
	        $(".nav li a").click(function(){
		        $(".nav li a.selected").removeClass("selected")
		        $(this).addClass("selected");
	        })
        })
    </script>
</head>
<body style="background:url(/img/images/topbg.gif) repeat-x;">
    <!--后台管理顶部导航-->
    @using Microsoft.AspNet.Identity
    <div class="topleft">
        <a href="/home" target="_parent"><img src="~/img/images/HBlogo.png" title="系统首页" /></a>
    </div>
    <!--顶部导航列表-->
    <ul class="nav">
        <li><a href="/admin/homepage" target="rightFrame" class="selected"><img src="~/img/images/icon01.png" title="工作台" /><h2>工作台</h2></a></li>
        <li><a href="#"><img src="~/img/images/icon02.png" title="模型管理" /><h2>模型管理</h2></a></li>
        <li><a href="#"><img src="~/img/images/icon03.png" title="模块设计" /><h2>模块设计</h2></a></li>
        <li><a href="#"><img src="~/img/images/icon05.png" title="文件管理" /><h2>文件管理</h2></a></li>
        <li><a href="#"><img src="~/img/images/icon06.png" title="系统设置" /><h2>系统设置</h2></a></li>
    </ul>
    <!--顶部右侧帮助和用户信息-->
    <div class="topright">
        <ul>
            <li><span><img src="~/img/images/help.png" title="帮助" class="helpimg" /></span><a href="#">帮助</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="/logreg/logout" target="_parent">退出</a></li>
        </ul>
        <!--用户信息-->
        <div class="user">
            @if (User.Identity.GetUserId() != null && Session["user"] != null)
            {
                <span>@User.Identity.GetUserName()</span>
                <i>消息</i>
                <b>5</b>
            }
            else
            {
                <span><a href="/logreg/login" style="font-size:15px;color:white" target="_parent">登录</a></span>
            }
        </div>

    </div>
</body>
</html>
