
@{
    ViewBag.Title = "WorkPlace";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<!--当前位置-->
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页工作台</a></li>
    </ul>
</div>

