<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>讲理-后台管理</title>
    <link href="~/Content/BackStage/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="~/Scripts/BackStage/jquery.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
