@using Microsoft.AspNet.Identity
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>讲理--公平的世界你做主</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css"/>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        .header {width:100%;top:0;left:0;z-index:100;position:fixed;box-sizing:border-box;min-width:1032px;overflow:hidden;}
        .headerinner {position:relative;display:flex;display:-webkit-box;width:1000px;height:52px;padding:0 16px;margin:0 auto;-webkit-box-align: center;align-items: center;transition: transform .3s,-webkit-transform .3s;}
        .headerinner a:hover a:visited a:link {text-decoration:none}
        .headerinner a:link {text-decoration:none}
        .headerinner a:visited {text-decoration:none}
        .seacherbox {display:flex;display:-webkit-box;margin-left:20px}
        .headerNav{display:flex;display:-webkit-box;-webkit-box-pack: justify;justify-content: space-between;height: 30px;margin-right: 18px;margin-left: 67px;color: #999;}
        .headerNav-Item{padding-left:0;padding:0 15px;font-size:17px;line-height:30px;color:#fff;}
    </style>
</head>
<body>
    <!--讲理网首页-->
    <div> 
        <!--固定头部-->
        <header class="header">
            <div class="headerinner">
                <a style="color:#fff;font-size:30px;text-decoration:none" href="#">讲理网</a>
                <!--搜索框-->
                @using (Html.BeginForm("searchCase", "home"))
                {
                    <div class="seacherbox">
                        <input type="text" class="form-control" name="searchTxt" />
                        <button type="submit" class="btn btn-default">搜索</button>
                    </div>
                }
                <nav class="headerNav">
                    <a class="headerNav-Item" href="#" style="color:#25f60e">首页</a>
                    <a class="headerNav-Item" href="/home">话题</a>
                </nav>
                @if (!Request.IsAuthenticated)
                {
                    <img src="~/img/partlogo/wechat.png" height="30" style="margin-left:200px;cursor:pointer" onclick="window.location.href='/wechat'" />
                }
                else
                {
                    @functions{
                        public IHtmlString Get(int count)
                        {
                            DataDeal.Repository.UserInfo dbuser = new DataDeal.Repository.UserInfo();
                            var user = dbuser.GetUseByName(User.Identity.Name);
                            return new HtmlString(user.Avatar_url);
                        }
                    }
                    <img src="@Get(0)" height="30" style="margin-left:200px;cursor:pointer" />
                }
                
            </div>
        </header>
        <!--主页面div轮播-->
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标(indicators) -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- 轮播图-->
            <div class="carousel-inner">
                <div class="item active">
                    <div style="background:url('../../img/Homeimg/bg1.jpg') no-repeat;background-size:cover;height:900px;background-size:cover;box-sizing:border-box">
                        <div id="first" style="text-align:center;display:none;color:#fff;">
                            <h2 style="display:block;font-size:60px;width:100%;text-align:center;position:absolute;top:22%;color:#fff;">
                                公道
                            </h2>
                            <h5 style="top:36%;width:100%;position:absolute;color:#fff;text-align:center;line-height:175%;font-size:30px">
                                我们对事实的判断是不偏不倚的，是公平公正的，是合情合理的
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div style="background:url('../../img/Homeimg/bg2.jpg') no-repeat;background-size:cover;height:900px;">
                        <div id="second" style="text-align:center;display:none;color:#fff;">
                            <h2 style="display:block;font-size:60px;width:100%;text-align:center;position:absolute;top:22%;color:#00f;">
                                精准
                            </h2>
                            <h5 style="top:36%;width:100%;position:absolute;color:#00f;text-align:center;line-height:175%;font-size:30px">
                                在确保可靠的同时实现准确
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div style="background:url('../../img/Homeimg/bg3.jpg') no-repeat;background-size:cover;height:900px">
                        <div id="third" style="text-align:center;display:none;color:#fff;">
                            <h2 style="display:block;font-size:60px;width:100%;text-align:center;position:absolute;top:22%;color:#fff;">
                                便捷
                            </h2>
                            <h5 style="top:36%;width:100%;position:absolute;color:#fff;text-align:center;line-height:175%;font-size:30px">
                                操作简单，使用方便，快速生成结果
                            </h5>
                        </div>
                    </div>
                </div>
                <!-- 轮播导航，即左右按钮 --> 
                <a class="carousel-control left" href="#myCarousel" data-slide="prev" style="background-image:none"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next" style="background-image:none"><span class="glyphicon glyphicon-chevron-right"></span></a>

            </div>
            <script>
                $(document).ready(function () {
                    $("#myCarousel").carousel("pause");
                    $("#first").fadeIn(3000);
                    $("#second").fadeIn(3000);
                    $("#third").fadeIn(3000);
                })
            </script>
        </div>
    </div>
</body>
</html>
